*, html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
:root {
    --smallest-size: 10px;
    --small-size: 12px;
    --medium-size: 15px;
    --big-size: 25px;
    --bg-dark: rgb(30, 30, 30);
    --brand-color: rgb(205, 113, 0);
    --brand-color-faded: rgba(205, 113, 0, 0.419);
    --brand-color-light: rgb(255, 136, 0);
    --shift-left: 15px;
    --shift-right: 15px;
}
body {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
}
.divide {
    height: 1px;
    width: 100vw;
    background-color: lightgray;
}
.sideNote {
    background-color: lightgreen;
    color: gray;
    font-size: var(--smallest-size);
    font-weight: bold;
    width: fit-content;
    padding: 5px 10px;
}
.pageLoader {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 100px;
    height: 100px;
}

/* signup styling */
/* #signup {
    display: flex;
    flex-direction: column;
    height: fit-content;
} */
 .successCont {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.448);
    backdrop-filter: blur(3px);
    display: none;
 }
 .successCont form {
    display: none;
 }
 .signSuccess {
    background-color: var(--bg-dark);
    margin: auto;
    margin-top: 300px;
    outline: 0.5px solid gray;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    color: white;
 }
.signSuccess .imgs img:nth-child(2) {
    position: absolute;
    right: 65px;
    top: 5px;
    width: 70px;
    height: 70px;
    visibility: hidden;
}
.signSuccess .imgs img:nth-child(2).show {
    animation: show 0.1s 2s forwards;
}
@keyframes show {
    to {
        visibility: visible;
    }
}
.signSuccess .imgs img:nth-child(1) {
    width: 80px;
    height: 80px;
}
.signSuccess .imgs img:nth-child(1).hide {
    animation: hide 0.1s 2s forwards;
}
@keyframes hide {
    to {
        visibility: hidden;
    }
}
.signSuccess .imgs {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
}
.signSuccess .imgs + div {
    display: none;
}
.menuBar {
    background-color: var(--bg-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    outline: 0.5px solid gray;
}
.menuBar .left .title div:nth-child(1) {
    color: white;
    font-weight: bolder;
}
.menuBar .left .title div:nth-child(2) {
    font-size: small;
    font-weight: bold;
    color: var(--brand-color);
}
.menuBar .left {
    display: flex;
    align-items: center;
}
.menuBar .left img {
    width: 60px;
    height: 45px;
}
.menuBar .right img {
    width: 20px;
    height: 20px;
}
.menuBar .left .hambugger img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.menuBar .left .hambugger {
    border-radius: 5px;
    transition: 0.25s;
}
.menuBar .left .hambugger:hover {
    background-color: rgba(0, 0, 0, 0.446);
}
.menuBar .profile {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    gap: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 10px;
}
.menuBar .profile:hover {
    background-color: lightgray;
}
.menuBar .profile .status {
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: red;
}
.statusText {
    position: fixed;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.664);
    font-size: small;
    right: 90px;
    top: 10px;
    visibility: hidden;
}
.statusText.show {
    animation: show_status 0.2s forwards;
}
@keyframes show_status {
    to {
        visibility: visible;
    }
}
.signup {
    background-color: var(--bg-dark);
    width: fit-content;
    margin: auto;
    margin-top: 10vh;
    padding: 20px 40px;
    color: white;
    text-align: center;
    line-height: 1.35;
    border-radius: 10px;
    outline: 0.1px solid gray;
    opacity: 0.9;
}
.signup .warn {
    font-size: small;
    color: crimson;
}
.signup h4 {
    margin-bottom: 20px;
    background-color: var(--brand-color);
    margin-top: 5px;
}
.signup form {
    position: relative;
}
.signup form .field {
    margin-bottom: 10px;
    text-align: left;
}
.signup form .field .line {
    height: 0.2px;
    width: 100%;
    background-color: gray;
    margin: auto;
}
.signup form .field .matching {
    text-align: center;
    color: blue;
    background-color: white;
    width: fit-content;
    margin: auto;
}
.signup form .field .strength {
    text-align: center;
    color: black;
    background-color: white;
    width: fit-content;
    margin: auto;
}
.signup form .field .check_username {
    text-align: center;
    color: black;
    background-color: white;
    width: fit-content;
    margin: auto;
}
.signup form .field .must {
    font-weight: lighter;
    font-size: var(--smallest-size);
    color: lightgreen;
    width: 220px;
}
.signup form .field img {
    position: absolute;
    background-color: white;
    cursor: pointer;
}
.signup form button {
    padding: 10px 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: var(--brand-color-light);
    color: white;
    font-weight: bold;
    transition: 0.2s;
}
.signup form button:hover {
    background-color: var(--brand-color);
}
.signup form div div {
    font-weight: bold;
    font-size: small;
}
.signup form div input {
    width: 15rem;
    padding: 8px;
    border-radius: 5px;
    background: inherit;
    border: none;
    color: white;
    font-size: small;
}
.signup form div input:focus {
    outline: 1px solid var(--brand-color);
}
.signup form .terms {
    display: flex;
    align-items: center;
    gap: 5px;
}
.signup form .terms input {
    width: fit-content;
}
.signup form .terms input:focus {
    outline: none;
}
.signup .txt {
    font-size: var(--small-size);
    font-weight: lighter;
}
.signup .txt a {
    color: lightgreen;
}
footer {
    text-align: center;
    font-size: smaller;
    line-height: 1.7;
    margin-top: 8rem;
    color: white;
}
footer div:nth-child(3) {
    display: flex;
    justify-content: center;
    gap: 15px;
} 
footer img {
    width: 40px;
    height: 40px;
    transition: 0.2s;
}
footer .lmt {
    background-color: black;
    border-radius: 10px;
}
footer .x:hover {
    background-color: lightgreen;
    border-radius: 10px;
}

/* sign up error */
#signup_error .signup {
    margin-top: 15rem;
    width: 19rem;
}
#signup_error .signup div:nth-child(3) {
    font-size: small;
    background-color: white;
    color: red;
    margin-top: 10px;
    text-align: left;
}
#signup_error .signup button {
    margin-top: 20px;
    padding: 10px 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: var(--brand-color-light);
    color: white;
    font-weight: bold;
    transition: 0.2s;
}
#signup_error .signup button:hover {
    background-color: var(--brand-color);
}

/* styling for login */
#login .signup form .txt {
    text-align: left;
}
main #toLogin {
    display: none;
}
#login footer {
    margin-top: 25rem;
}

/* index styling */

#index .statusText {
    /* visibility: visible; */
    z-index: 5;
}
#index .statusText div {
    font-weight: bolder;
    margin-bottom: 20px;
    padding: 5px 15px;
    border-radius: 20px;
}
#index .statusText div:hover {
    background-color: var(--brand-color-faded);
    color: white;
}
#index .statusText div a {
    text-decoration: none;
    color: inherit;
}
#index .statusText button {
    padding: 5px 15px;
    border-radius: 20px;
    background-color: var(--bg-dark);
    color: white;
    cursor: pointer;
}
#index .statusText button:hover {
    background-color: black;
}
#index .menuBar {
    position: fixed;
    width: 100%;
    z-index: 2;
}
#index .chatCont {
    /* outline: 1px solid white; */
    margin: auto;
    margin-top: 300px;
    width: 90%;
    overflow: hidden;
    height: 40px;
    padding: 3px;
}
#index .chatCont.expand {
    transition: 0.3s;
    animation: expand 1.5s forwards;
}
@keyframes expand {
    to {
        margin-top: 100px;
        height: 710px;
    }
}
#index .chatArea::-webkit-scrollbar {
    display: none;
}
#index .chatArea {
    /* outline: 1px solid red; */
    margin: 5px;
    padding: 10px;
    height: 40rem;
    overflow-y: auto;
}
#index .chatArea .humanText {
    /* outline: 1px solid var(--brand-color); */
    width: 300px;
    margin-left: auto;
    margin-bottom: 10px;
}
#index .chatArea .humanText .Hcontent {
    margin-left: auto;
    width: fit-content;
    font-size: small;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--bg-dark);
}
#index .response {
    width: 300px;
    margin-bottom: 10px;
}
#index .response img {
    width: 60px;
    height: 60px;
}
#index .response .content {
    outline: 1px solid var(--brand-color-light);
    width: fit-content;
    font-size: small;
    color: var(--bg-dark);
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--brand-color);
    line-height: 1.5;
}
#index .right .profile .status {
    background-color: green;
}
.chat_grid {
    display: grid;
    grid-template-areas: 
    "first"
    "second";
}
.chat_grid .sideBar {
    grid-area: first;
    padding-top: 100px;
    position: fixed;
    background-color: gray;
    height: 50rem;
    outline: 0.4px solid gray;
    line-height: 4;
    left: -100%;
    transition: 0.35s;
}
.chat_grid .sideBar img {
    width: 35px;
    height: 35px;
}
.chat_grid .chatCont {
    grid-area: second;
}
@media(min-width: 770px) {
    .chat_grid {
        grid-template-areas: "first second";
        grid-template-columns: 255px;
    }
    .chat_grid .sideBar {
        position: static;
    }
    #index header .hambugger {
        display: none;
    }
}
.chat_grid .sideBar form + div {
    margin-left: var(--shift-left);
    margin-right: var(--shift-right);
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.25s;
}
.chat_grid .sideBar form + div:hover {
    background-color: rgba(255, 255, 255, 0.247);
    color: crimson;
}
.chat_grid .sideBar form {
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: var(--shift-left);
    margin-bottom: 10px;
}
.chat_grid .sideBar form input {
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-weight: bold;
}
.chat_grid .sideBar form input:focus {
    box-shadow: 0 0 6px 8px var(--brand-color-light);
}
#search {
    display: flex;
    align-items: center;
    outline: 1px solid gray;
    margin: auto;
    margin-top: 3px;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
}
#search input {
    padding: 12px 5px;
    outline: none;
    border: none;
    width: 100%;
    outline: none;
    background-color: var(--bg-dark);
    color: lightgray;
}
#search button {
    padding: 5px 15px;
    background-color: var(--brand-color-light);
    color: gray;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}
#search button:hover {
    background-color: var(--brand-color);
}
#search img {
    width: 30px;
    height: 30px;
}
#search img:nth-child(2) {
    display: none;
}
#index footer img {
    margin-bottom: 20px;
}
#index footer {
    position: absolute;
    top: 46rem;
    width: 100vw;
    /* z-index: -2; */
    background-color: var(--bg-dark);
    outline: 0.5px solid gray;
}

/* styling for error 404 page */

main .four_zero_four {
    width: fit-content;
    padding: 25px;
    background-color: var(--bg-dark);
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 10rem;
    line-height: 1.4;
    outline: 0.1px solid gray;
    border-radius: 7px;
}
main .four_zero_four h2 {
    margin-bottom: 15px;
}
main .four_zero_four div {
    font-size: small;
    color: lightgray;
}
main .four_zero_four button {
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--brand-color-light);
    color: white;
    cursor: pointer;
    transition: 0.25s;
}
main .four_zero_four button:hover {
    background-color: var(--brand-color);
}
main .four_zero_four a {
    text-decoration: none;
}
main .four_zero_four img {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
}