{% extends "layout.html" %}

{% block body %}

    <img class="pageLoader" src="{{ url_for('static', filename='gif/Loading6.gif') }}" alt="page_oader_gif">
    <div class="pageBody">
        <div class="statusText">
            <div><a href="/profile">Profile</a></div>
            <form action="/logout" method="get">
                <button type="submit">Logout</button>
            </form>
        </div>
        <header>
            <div class="menuBar">
                <div class="left">
                    <div class="hambugger"><img src="{{ url_for('static', filename='images/white_burger.png') }}" alt="burger_logo"></div>
                    <img class="logo" src="{{ url_for('static', filename='images/lmt_no_tagline.png') }}" alt="LMT_logo">
                    <div class="title">
                        <div>ChatLMT</div>
                        <div>Community Assistant</div>
                    </div>
                </div>
                <div class="right">
                    <div class="profile">
                        <img src="{{ url_for('static', filename='images/profile-user.png') }}" alt="profile_img">
                        <div class="status"></div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="chat_grid">
                <div class="sideBar">
                    <form action="https://google.com/search" method="get">
                        <input name="q" type="search" autocomplete="off" placeholder="Search Google">
                        <button><img src="{{ url_for('static', filename='images/white-microscope.png') }}" alt="clear"></button>
                    </form>
                    <div>
                        <img class="search" src="{{ url_for('static', filename='images/clear.png') }}" alt="clear">
                        <div>Clear chat</div>
                    </div>
                </div>
                <div class="chatCont"> <!--expand class-->
                    <div class="chatArea">
                        <div class="humanText">
                            <!-- <div class="Hcontent">Lorem error.</div> -->
                            <!-- human texts are appended here after generated -->
                        </div>
                        <div class="response">
                            <!-- <img src="{{ url_for('static', filename='gif/loading2.gif') }}" alt="loader_gif"> -->
                            <!-- <div class="content">kkkk</div> -->
                        </div>
                    </div>
                    <!-- <div class="divide"></div> -->
                    <form id="search" action="/">
                        <input name="q" type="search" placeholder="Ask ChatLMT" autofocus autocomplete="off">
                        <button type="submit"><img src="{{ url_for('static', filename='images/white_paper_plane.png') }}" alt=""><img src="{{ url_for('static', filename='gif/Loading6.gif') }}" alt="loader_gif"></button>
                    </form>
                </div>
            </div>
        </main>
        <footer>
            <div>Like Minded Troop(LMT) Affilliated Project</div>
            <div>© 2026 Like Minded Troop</div>
            <div>
                <img class="lmt" src="/static/images/lmt_no_tagline.png" alt="LMT logo">
                <a href="https://www.x.com/lmt_dao"><img class="x" src="/static/images/x.png" alt="X logo"></a>
            </div>
            <div class="sideNote">Another Masterpiece</div>
        </footer>
    </div>
        

{% endblock %}