{% extends "layout.html" %}

{% block body %}

    <img class="pageLoader" src="{{ url_for('static', filename='gif/Loading6.gif') }}" alt="page_oader_gif">
    <div class="pageBody">
        <div class="statusText">you're currently not logged in</div>
        <header>
            <div class="menuBar">
                <div class="left">
                    <img class="logo" src="{{ url_for('static', filename='images/lmt_no_tagline.png') }}" alt="LMT_logo">
                    <div class="title">
                        <div>ChatLMT</div>
                        <div>Community Assistant</div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="alertCont">
                <div class="alert">test html</div>
            </div>
            <form action="/profile" method="post">
                <input disabled name="first_name" placeholder="First Name" type="text" autocomplete="off" value="{{ first_name }}">
                <input disabled name="surname" placeholder="Surname" type="text" autocomplete="off" value="{{ surname }}">
                <input disabled name="username" placeholder="Username" type="text" autocomplete="off" value="{{ username }}">
                <input disabled name="password" placeholder="E Mail" type="password" autocomplete="off" value="{{ password }}">
                <img src="{{ url_for('static', filename='images/openeye.png') }}" alt="eyes">
                <div class="edit">Edit Profile</div>
                <button>Done</button>
            </form>
        </main>
    </div>

{% endblock %}